.letra {
  padding: 5px;
  font-size: 30px;
  /* transition: all 500ms; */
  font-weight: bold;
}

.letra-restante:hover {
  cursor: pointer;
  color: green;
}

.letra-usada {
  color: red;
}

.letra-oculta {
  font-size: 40px;
}

.palabra {
  display: inline-block;
  margin-right: 25px;
}

#ahorcado-img {
  width: 90%;
}

.intro-text{
  font-size: 25px;
}

.word-link{
  font-size: 30px;
}